<script>
	import { onMount } from 'svelte';
	import { supabase } from '$lib/supabaseClient';

	/**
	 * @type {any[] | null}
	 */
	let forums;

	$: filteredForums = forums?.filter((element) => element.title.includes(searchText));

	/**
	 * @type {string}
	 */
	let title;
	/**
	 * @type {string}
	 */
	let name;

	/**
	 * @type {string}
	 */
	let detail;

	/**
	 * @type {string}
	 */
	let searchText;

	async function getForums() {
		//select * from forum
		let { data, error: err } = await supabase
			.from('forum')
			.select('*')
			.order('votes', { ascending: false });
		forums = data;
	}

	/**
	 * @param {string} id
	 * @param {number} votes
	 */
	async function voteUp(id, votes) {
		//update forum set votes = 100 where id = 23
		let { data, error } = await supabase
			.from('forum')
			.update({
				votes: votes + 1
			})
			.eq('id', id);
		getForums();
	}

	/**
	 * @param {string} id
	 * @param {number} votes
	 */
	async function voteDown(id, votes) {
		//update forum set votes = 100 where id = 23
		let { data, error } = await supabase
			.from('forum')
			.update({
				votes: votes - 1
			})
			.eq('id', id);
		getForums();
	}

	/**
	 * @param {any} id
	 */
	async function deleteForum(id) {
		let { data, error } = await supabase.from('forum').delete().eq('id', id);
		getForums();
	}

	async function postNewForum() {
		//insert into forum (title, posted_by, detail, votes)
		//values ("halo", "levi", "test halo", 0)
		let { data, error } = await supabase.from('forum').insert({
			title: title,
			posted_by: name,
			detail: detail,
			votes: 0
		});
		getForums();
	}

	onMount(function () {
		getForums();
	});
</script>

<div class="flex">
	<div class="w-4/6">
		<h1 class="text-xl">Forums</h1>
		<input bind:value={searchText} class="p-2 m-2 border rounded" placeholder="Title to search" />
		{#if filteredForums}
			{#each filteredForums as forum}
				<div class="p-3">
					<h2 class="text-lg text-blue-600">
						<a href="/forums/{forum.id}">
							{forum.title}
						</a>
					</h2>
					<p class="text-gray-500">{forum.votes} Votes</p>
					<p>{forum.detail}</p>
					<small>Posted by: {forum.posted_by}</small>
					<div class="flex">
						<button
							on:click={() => voteUp(forum.id, forum.votes)}
							class="bg-green-400 rounded p-1 m-1 text-sm text-white">Up</button
						>
						<button
							on:click={() => voteDown(forum.id, forum.votes)}
							class="bg-red-400 rounded p-1 m-1 text-sm text-white">Down</button
						>
						<button
							on:click={() => deleteForum(forum.id)}
							class="bg-red-400 rounded p-1 m-1 text-sm text-white">Delete</button
						>
					</div>
				</div>
			{/each}
		{/if}
	</div>
	<div class="artboard phone-1 bg-neutral rounded-3xl">
		<h1 class="text-2xl text-center text-white font-semibold p-4">Post to Forum</h1>
		<a class="p-2 ml-4 text-white">Name</a>
		<input
			class="w-120 p-2 ml-2 mb-4 border rounded"
			type="text"
			placeholder="name"
			bind:value={name}
		/>
		<a class="p-3 ml-4 text-white">Tittle</a>
		<input
			class="p-2 ml-2 mb-5 border rounded"
			type="text"
			placeholder="title"
			bind:value={title}
		/>
		<a class="p-14 ml-20 text-white text-center">Detail</a> <br />
		<div class="ml-7 mt-4">
			<textarea
				rows="6"
				class="ml-10 p-4 border rounded w-94 pt-4"
				type="text"
				placeholder="detail"
				bind:value={detail}
			/>
		</div>
		<div class="ml-14">
			<button class="p-2 ml-10 mt-4 bg-green-700 rounded text-white" on:click={postNewForum}
				>Submit</button
			>
		</div>
	</div>
</div>
